// FUENTES

$FuentePrincipal: "Plus Jakarta Sans", sans-serif;

// MEDIA QUERYS

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1920px;

// COLORES

$AzulFuerte: #13183F;
$AzulClaro: #666CA3;
$RosaFuerte: #F74780;
$RosaClaro: #FFA7C3;
$Gris: #83869A;
$Blanco: #ffffff;
$Rosa: #F02AA6; // ESTE COLOR SE COMPARTE CON EL GRADIENTE DOS

// COLOR DE GRADIENTE UNO

$Naranja: #FF6F48;

//COLOR DE GRADIENTE DOS

$Morado: #4851FF;