@use 'base/variables' as v;

.text-aling{
    text-align: left;
}

.bg-blue{
    background-color: v.$AzulFuerte;
}

.text-color{
    color: v.$Blanco;
}

.bg-whithe{
    background-color: #ffffff;
}

.brd-radius{
    border-radius: 1.5rem;
}
